PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/finance_db?retryWrites=true&w=majority
JWT_SECRET=cambia_esto_por_una_clave_segura_de_32_chars
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
API_VERSION=v1
